[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/local/lib/firefox/firefox %u
Name=Firefox
Comment=Особое определение для Firefox
